@charset "utf-8";
/* CSS Document */
texearea {resize: none;}
body
{
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*透明度alpha设置为0，去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
	text-shadow:0px 0px 0px;
	-webkit-text-size-adjust: none;/*禁止文字自动调整大小(默认情况下旋转设备的时候文字大小会发生变化)，此属性也不继承，一般加在body上规定整个body的文字都不会自动调整*/ 
	-webkit-touch-callout:none;
	-webkit-overflow-scrolling:touch;/*局部滚动*/
	-webkit-user-select: none; /*禁止页面文字选择 ，此属性不继承，一般加在body上规定整个body的文字都不会自动调整*/
}
input，textarea{outline:none}
div,img,button,a,font,input,textarea
{
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*透明度alpha设置为0，去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
	outline: none;
	-webkit-touch-callout:none;/*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/
	-webkit-appearance: none; /*消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式 。   注意：不同type的input使用这个属性之后表现不一。text、button无样式，radio、checkbox直接消失*/
}